body{
    background-color:whitesmoke;
}
#CV-form
{
   /*  */
}

#CV-template
{
    display: none;
}

.myimg
{
    border-radius: 20%;
    /* border: 3px solid black; */
   
}
.background
{
    background-color: aqua;
}

